absl-py==0.8.1
aiodns==1.1.1
aiohttp==3.3.2
altair==3.3.0
aniso8601==6.0.0
appnope==0.1.0
appscript==1.0.1
argh==0.26.2
asn1crypto==0.23.0
astor==0.8.0
async-timeout==3.0.0
atomicwrites==1.1.5
attrs==19.1.0
Authlib==0.14.3
base58==1.0.3
beautifulsoup4==4.6.0
bleach==2.1.2
blinker==1.4
boto==2.48.0
boto3==1.7.26
botocore==1.10.26
branca==0.3.0
Brotli==1.0.7
bs4==0.0.1
bz2file==0.98
cachetools==2.0.1
cchardet==2.1.1
ccxt==1.14.299
certifi==2019.11.28
cffi==1.11.2
chardet==3.0.4
chromedriver==2.24.1
Click==7.0
cloudpickle==0.5.3
conda==4.8.2
conda-package-handling==1.6.0
cryptography==2.8
cycler==0.10.0
dash==1.13.4
dash-core-components==1.10.1
dash-html-components==1.0.3
dash-renderer==1.5.1
dash-table==4.8.1
dask==0.18.1
decorator==4.2.1
defusedxml==0.5.0
dill==0.3.1.1
docopt==0.6.2
docutils==0.14
entrypoints==0.2.3
enum-compat==0.0.3
et-xmlfile==1.0.1
fake-useragent==0.1.11
flake8==3.5.0
Flask==1.1.2
Flask-Assets==0.12
Flask-Caching==1.4.0
Flask-Compress==1.5.0
Flask-Cors==3.0.7
Flask-Login==0.4.1
Flask-Mail==0.9.1
Flask-MySQLdb==0.2.0
Flask-OpenID==1.2.5
flask-restplus==0.12.1
flask-sass==0.1
Flask-Scss==0.5
Flask-SQLAlchemy==2.3.2
Flask-WTF==0.14.2
# Editable install with no version control (flaskr==0.0.0)
-e /Users/enkhbat/flaskr
folium==0.5.0
funcy==1.10.2
future==0.16.0
gast==0.2.2
gensim==3.4.0
google-api-python-client==1.7.11
google-auth==1.18.0
google-auth-httplib2==0.0.3
google-auth-oauthlib==0.4.1
google-pasta==0.1.7
grpcio==1.24.3
gspread==3.6.0
gunicorn==19.7.1
h5py==2.8.0
hdbscan==0.8.13
html5lib==1.0.1
httplib2==0.11.1
idna==2.6
idna-ssl==1.0.1
influxdb==5.2.3
ipykernel==4.8.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.1
itsdangerous==0.24
jdcal==1.3
jedi==0.11.1
Jinja2==2.11.2
jmespath==0.9.3
joblib==0.11
jsonschema==3.0.1
jupyter==1.0.0
jupyter-client==5.2.2
jupyter-console==5.2.0
jupyter-core==4.4.0
kaggle==1.3.6
Keras==2.1.3
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.0
Lasagne==0.1
lightfm==1.15
lime==0.1.1.31
lxml==4.1.1
Mako==1.0.7
Markdown==3.1.1
MarkupSafe==1.0
matplotlib==2.1.2
mccabe==0.6.1
meetup-api==0.1.1
mistune==0.8.3
more-itertools==4.2.0
mpld3==0.3
multidict==4.3.1
mysql-connector-python==8.0.20
mysql-connector-python-rf==2.2.2
mysqlclient==1.4.6
nbconvert==5.3.1
nbformat==4.4.0
networkx==2.1
nltk==3.3
notebook==5.4.0
numexpr==2.6.5
numpy==1.16.2
oauth2client==4.1.3
oauthlib==2.1.0
openpyxl==2.5.0
opt-einsum==3.1.0
palettable==3.1.1
panda==0.3.1
pandas==0.23.1
pandas-datareader==0.6.0
pandocfilters==1.4.2
parse==1.8.4
parso==0.1.1
pathtools==0.1.2
patsy==0.5.0
pbr==5.4.4
pexpect==4.3.1
pickleshare==0.7.4
Pillow==6.2.1
pipreqs==0.4.9
plotly==4.1.1
plotly-express==0.4.1
pluggy==0.6.0
praw==5.4.0
prawcore==0.14.0
prompt-toolkit==1.0.15
protobuf==3.10.0
psutil==5.6.5
psycopg2==2.8.4
ptyprocess==0.5.2
py==1.5.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycares==2.3.0
pycodestyle==2.3.1
pycosat==0.6.3
pycparser==2.18
pydot2==1.0.33
pydotplus==2.0.2
pyflakes==1.6.0
Pygments==2.2.0
pygpu==0.7.6
pygsheets==2.0.2
PyJWT==1.6.4
pyLDAvis==2.1.2
pymc3==3.4.1
pynverse==0.1.4.4
pyOpenSSL==17.5.0
pyparsing==2.2.0
pyrsistent==0.14.11
PySAL==1.14.3
pyScss==1.3.5
PySocks==1.6.7
pytest==3.6.1
python-dateutil==2.6.1
python-dotenv==0.10.1
python3-openid==3.1.0
pytz==2019.1
PyWavelets==0.5.2
PyYAML==3.12
pyzmq==18.1.1
qtconsole==4.3.1
regex==2018.2.21
requests==2.18.4
requests-file==1.4.3
requests-ftp==0.3.1
requests-oauthlib==0.8.0
retrying==1.3.3
rsa==3.4.2
ruamel-yaml==0.11.14
s3transfer==0.1.13
scikit-image==0.14.0
scikit-learn==0.20.3
scipy==1.2.1
seaborn==0.9.0
selenium==3.12.0
Send2Trash==1.4.2
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
smart-open==1.5.7
SQLAlchemy==1.2.7
statsmodels==0.10.1
stevedore==1.31.0
streamlit==0.51.0
tensorboard==2.0.1
tensorflow==2.0.0
tensorflow-estimator==2.0.1
termcolor==1.1.0
terminado==0.8.1
testpath==0.3.1
textblob==0.15.3
Theano==1.0.2
toml==0.10.0
toolz==0.9.0
tornado==5.1.1
tqdm==4.23.4
traitlets==4.3.2
tweepy==3.6.0
tweet-preprocessor==0.5.0
twilio==6.19.2
twython==3.8.2
tzlocal==2.0.0
update-checker==0.16
uritemplate==3.0.0
urllib3==1.22
utils==0.9.0
validators==0.14.0
virtualenv==16.0.0
virtualenv-clone==0.5.3
virtualenvwrapper==4.8.4
watchdog==0.9.0
wcwidth==0.1.7
webassets==0.12.1
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.1.3
wrapt==1.11.2
WTForms==2.2.1
xgboost==0.71
xlrd==1.1.0
XlsxWriter==1.1.8
xlwings==0.16.0
xlwt==1.3.0
yarg==0.1.9
yarl==1.1.0
